*{
    padding: 0;
    margin: 0;
    z-index: 5;
    box-sizing: border-box;
    position: relative;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

body{
    overflow-x: hidden;
    background-color:rgba(0, 4, 255, 0.034)
}

.wrapper{
    display: flex;
    flex-direction: column;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

.container{
    /* max-width: 1170px; */
    padding: 0 100px;
    margin: 0 auto;
}

.header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    z-index: 80;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.navbar_logo a{
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.navbar_logo{
    background-color: brown;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar_menu ul{
    display: flex;
    gap: 70px;
}

.navbar_menu ul li a{
    color: black;
    font-size: 14px;
}

.banner_content{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 20px;
}

.banner_content_left{
    width: 750px;
    border-radius: 10px;
    overflow: hidden;
}
.banner_content_left img{
    height: 100%;
}

.banner_content_right{
    width: calc(100% - 400px);
    display: block;
}

.banner_content_right_author h4{
    margin-top: 30px;
    font-size: 30px;
}

.posts_content{
    display: flex;
    gap: 11px;
}

.post_articles_content{
    gap: 15px;
    width: calc(100% - 220px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}


.post_articles_content_item{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    border: solid 1px rgba(185, 153, 153, 0.5);
}


.post_articles_content_item_img{
    height: 200px;
}

.post_articles_content_item_img img{
    height: 100%;
    object-fit: cover;
}

.post_articles_content_item_texte{
    padding: 15px;
}

.post_articles_content_item_texte p{
    font-size: 16px;
    white-space: nowrap;
}
.post_articles_content_item h4{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 44px;
    margin:15px 0 20px 0;
    line-height: 22px;
}

.more{
    display: inline-block;
    background-color: rgb(75, 75, 252);
    border-radius:10px;
    padding: 10px 10px ;
    width: max-content;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    border: solid 1px rgb(75, 75, 252);
}

.more:hover{
    background: none;
    border-color:brown;
    color: brown;
}

.posts_categories_content, .posts_categories_content_type{
    display: block;
    width: 203px;
}

.posts_categories_content_type button{
    border: solid 1px rgb(255, 255, 255);
    font-size: 16px;
    white-space: nowrap;
    background-color: rgb(75, 75, 252);
    padding: 15px 12px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    width: 100%;
    margin-bottom: 16px;
}

.posts_categories_content_type button:hover{
color: brown;
background-color: transparent;
border: solid 1px brown;
cursor: pointer;
}

.container h1{
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 1px solid #33333347;
    margin-bottom: 25px;
}
.container h1 span.mdi{
    font-size: 36px;
    display: inline-block;
    margin-right: 15px;
}
.posts_content{
    margin-bottom: 30px;
}

/* ul li a{
    color: white;
font-size: 18px;
font-weight: bold;
} */






 .detail__container {
    padding: 50px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.body__container{
    box-shadow: 0 0 10px #0000006a;
    background-color: #fff;
    margin:0 auto; 
    border-radius: 20px;
}

.container {
    margin: 0 auto;
}

.modal__background{
    width: 620px;
}

.modal__background img{
    object-fit: cover;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal__profil{
    position: absolute;
    top: 280px;
    left: 210px;
}

.modal__profil img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.467);
}

.modal__contenu{
    margin-top: 60px;
    width: 450px; 
    width: 620px;
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

 .modal__contenu p{
    font-size:18px; 
} 


.retour{
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    background-color: rgba(0, 0, 255, 0.688);
    max-width: 150px;
    text-align: center;
}

.lien{
    width: 100%;
    text-align: center;
}

.pageButton__container{
    text-align: center;
}

.pageButton__container a{
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 15px;
    /* border: solid 1px black; */
    border-radius: 100%;
}

.pageButton__container button{
    border: none;
    background: none;
    padding: 10px;
}

.pageButton__container a.active{
    background-color: brown;
    color: white;
}

@media (max-width:1140px){
    .post_articles_content{
        grid-template-columns: repeat(2, 1fr);
        width:100%;   
    }
}
@media (max-width:991px){
    .posts_content{
        flex-wrap: wrap;
    }
    .post_articles_content{
        /*grid-template-columns: repeat(1, 1fr);*/
        order:2;
        width: 100%;
    }
    .posts_categories_content{
        order: 1;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    .posts_categories_content_type{
        display: flex;
        flex-wrap: nowrap;
        gap:8px;
        overflow-x: scroll;
        width: 100%;
    }
}